<div>
    <h1 >
        Employee Register
    </h1>
    <br>
</div>
<div class="p-4">
    <div class="row">
        <div class="col-md-6">
            <app-employee-form></app-employee-form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of service.list">
                        <td (click)="populateForm(emp)">{{emp.fullName}}</td>
                        <td (click)="populateForm(emp)">{{emp.position}}</td>
                        <td>
                            <i class="fa-trash-alt" (click)="onDelete(emp._id)"></i>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>